<!--dont wanna lose this code-->

<div>
  <div class="centered-text">
    <h2 id="page1">All That Existed 1000-1100 CE</h2>
  </div>

  <div class="admonition mongol">
    <div class="admonition-title">Mongol Empire</div>
    The Mongol Empire interacted with neighboring regions through a combination of conquest, diplomacy, and trade networks, facilitating the exchange of goods, ideas, 
    and technologies across vast territories. Their extensive road system, known as the Silk Road, played a crucial role in fostering cultural exchange between East and West,
    while their military campaigns reshaped geopolitical boundaries and influenced the course of history.
    <div class="centered-text">
      <div class="image-box">
        <div class="inner-box">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/YuanEmperorAlbumGenghisPortrait.jpg/220px-YuanEmperorAlbumGenghisPortrait.jpg" width="500px" height="500px"/>
          <p>
            A picture of Genghis Khan it is estimated he killed around 1,300,000 people.
          </p>
        </div>
        <div class="inner-box">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Facial_Chronicle_-_b.10%2C_p.049_-_Tokhtamysh_at_Moscow.jpg/170px-Facial_Chronicle_-_b.10%2C_p.049_-_Tokhtamysh_at_Moscow.jpg" width="500px" height="500px"/>
          <p>
            The armies of the Golden Horde initiate the Moscow Siege.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="admonition high-middle-ages">
    <div class="admonition-title">High Middle Ages Europe</div>
    During the High Middle Ages in Europe, interactions between regions intensified through burgeoning trade routes, such as the Hanseatic League, 
    which linked cities across the continent. Additionally, the Crusades sparked cultural exchanges, conflicts, and alliances between European powers 
    and the Byzantine Empire, as well as with Islamic civilizations, shaping the medieval world's interconnectedness and religious dynamics.
    <div class="centered-text">
      <div class="image-box">
        <div class="inner-box">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Bayeux_Tapestry_WillelmDux.jpg/250px-Bayeux_Tapestry_WillelmDux.jpg" width="500px" height="500px"/>
          <p>
            A Tapestry depicting the Battle of Hastings during the Norman Conquest.
          </p>
        </div>
        <div class="inner-box">
          <img src="https://imgs.search.brave.com/17wqguDK4l13foNIbyr8ZyIOqB7a1WRGyXkxc3K5HRc/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9j/L2NkL0NsZXJpYy1L/bmlnaHQtV29ya21h/bi5qcGc" width="500px" height="500px"/>
          <p>
            This picture shows the classes in medieval society: the clergy, the knights and the peasantry.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="centered-text">
    <h2 id="page1">All That Existed 1100-1200 CE</h2>
  </div>
</div>