/* Centering bold font sections */
h1 {
  text-align: center;
  font-size: 50px; 
}

h2 {
  text-align: center;
  font-size: 34px; 
  margin-top: 32px; 
  margin-bottom: 32px; 
}

h3 {
  font-size: 28px; 
}

hr {
  width: 90%;
  height: 1.5px;
  border-radius: 4px;
  background-color: #3e3e3e;
  border-color: #484848;
  border-style: solid;
}

/* Set text color */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #bebebe;
}

strong {
  font-size: 19px; 
  margin-top: 32px; 
  margin-bottom: 32px; 
}

.faq-item {
  margin-bottom: 22px; 
  /* Add space below each FAQ item */
}

.blank-space {
  margin-top: 27px; 
  margin-bottom: 27px; 
}

.blank-space+strong {
  color: #bebebe;
}

/* Reset default margin and padding */
body,
p,
ul,
ol {
  font-size: 20px; 
  margin: 0;
  padding: 0;
}

/* Define general font styles and add padding to the body */
body {
  font-family: Arial, sans-serif;
  font-size: 19.25px; 
  line-height: 1.6;
  background-color: #1c1c1c;
  padding-top: 25px;
  padding-bottom: 50px;
}

.container {
  max-width: 1450px;
  margin: 60px auto 0;
  padding: 40px;
  background-color: #262626;
  border-radius: 4px;
}

.long-words {
  word-wrap: break-word;
}

.actions {
  margin-top: 22px; 
}

/* ----- Admonition and Boxes ----- */
.image-box {
  display: inline-flex;
  margin: 14px; 
  padding: 18px;
  background-color: transparent;
  border: 3px solid #484848;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.inner-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner-box:not(:last-child) {
  margin-right: 37px; 
}

.inner-box p {
  margin-top: 12px; 
}

/* Maintains image's aspect ratio */
.inner-box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 22px; 
}

.admonition {
  border-radius: 2.5px;
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding: 12px; 
  background-color: #181818;
}

.admonition-title {
  font-weight: bold;
  font-size: 29px; 
}

.info {
  background-color: #2b383e;
  color: #427ba7;
}

.info .admonition-title {
  font-weight: bold;
  color: #508ca4;
}

.info h3#site-link-list {
  color: #508ca4;
}

.note {
  background-color: #2d3829;
  color: #5f805e;
}

.note .admonition-title {
  font-weight: bold;
  color: #628053;
}

/* ----- Project Specific Boxes ----- */
.tang-song {
  padding: 22px; 
  background-color: transparent;
  color: #bebebe;
  box-shadow: 0 0 28px #0099ff;
  margin-bottom: 72px; 
}

.tang-song .admonition-title {
  padding-bottom: 12px; 
  text-align: center;
  font-weight: bold;
}

.ghana {
  padding: 22px; 
  background-color: transparent;
  color: #bebebe;
  box-shadow: 0 0 28px #8800ff;
  margin-bottom: 72px; 
}

.ghana .admonition-title {
  padding-bottom: 12px; 
  text-align: center;
  font-weight: bold;
}
/* ---------------------------------- */


.md-center {
  text-align: center;
}

.md-align {
  display: inline-block;
}

.h-align {
  margin-top: 32px; 
}

.headerlink {
  text-decoration: none;
  color: #333;
}

a {
  color: #4790d8;
  text-decoration: none;
  /* Remove default underline */
}

a:hover {
  text-decoration: underline;
  /* Add underline on hover */
}

ul,
ol {
  margin-left: 22px; 
}

ul ul,
ol ol {
  margin-left: 22px; 
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

code {
  font-family: Consolas, monospace;
  color: #2c2c2c;
  background-color: #cccccc;
  padding: 2px 4px;
  border-radius: 4px;
}

.centered-text {
  text-align: center;
}

/* Center text surrounded by "->" and "<-" */
.md-align.md-center:before,
.md-align.md-center:after {
  content: '';
  display: inline-block;
  width: 12px; 
  height: 0;
  visibility: hidden;
  /* Hide the pseudo-elements */
}
